<form class="mt-2 mb-5" id="form-alumnos">
    <h3>Ingresar Datos de Alumnos</h3>
    <div class="row mt-4">
        <div class="col-sm-6 ">
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nombre" placeholder="Pepito">
                    <label for="nombre">Nombre</label>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="apellido" placeholder="Marquez">
                    <label for="apellido">Apellido</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <select class="form-select form-select-lg" id="exampleSelect1">
                  <option selected>Seleccionar Carrera del Alumno</option>
                  <option>Desarrollo</option>
                  <option>Alimentos</option>
                  <option>SegHigiene</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-floating mt-3">
                    <input type="email" class="form-control" id="email" placeholder="pepito@isft220.edu.ar">
                    <label for="email">Email</label>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-floating mt-3">
                    <input type="text" class="form-control" id="telefono" placeholder="1522334455">
                    <label for="telefono">Telefono/Celular</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="ingreso" placeholder="2022">
                    <label for="ingreso">Año de Ingreso</label>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">INGRESAR DATOS</button>
</form>