<!-- <div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-6 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-15">
                  <img
                    src="https://img.icons8.com/bubbles/100/000000/user.png"
                    class="img-radius"
                    alt="User-Profile-Image"
                  />
                </div>
                <h6 class="f-w-600">Alumno nombre y apellido</h6>
                <h6>Regular</h6>
                <i
                  class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"
                ></i>
              </div>
            </div>

            <div class="col-sm-8">
              <div class="card-block">
                <h4 class="m-b-20 p-b-5 b-b-default f-w-600">Datos Personales</h4>
                <div class="row">
                  
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Nombre</p>
                    <h6 class="text-muted f-w-400">Alumno nombre</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Apellido</p>
                    <h6 class="text-muted f-w-400">Alumno apellido</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Telefono</p>
                    <h6 class="text-muted f-w-400">Alumno telefono</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">Alumno email</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Carrera</p>
                    <h6 class="text-muted f-w-400">Tec. Sup. Desarrollo de Software</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Año</p>
                    <h6 class="text-muted f-w-400">3</h6>
                  </div>
                  
                  
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-4">
    <button type="button" class="btn btn-secondary btn-md rounded" routerLink="/alumnos">
      Volver
    </button>
  </div>

</div> -->

<div class="container">

  <div class="card bg-primary mt-3 mb-1 p-4 d-flex justify-content-center align-items-center text-center" style="max-width: 1200px;">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images/logo.png" class="img-fluid rounded-start" width="220" height="220" alt="Foto de Usuario">
      </div>
      <div class="col-md-6 d-flex align-self-center">
        <div class="card-body text-white">
          <h2 class="card-title">Jose Bondiola</h2>
          <h4>Desarrollo de Software</h4>
          <h6>Alumno Regular</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 text-center" style="max-width: 1200px;">
    <div class="row mt-3">
      <div class="col-md-6">
        <h6>Nombre</h6>
        <p>Jose</p>
      </div>
      <div class="col-md-6">
        <h6>Apellido</h6>
        <p>Bondiola</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h6>Email</h6>
        <p>pepitobondiola@isft220.edu.ar</p>
      </div>
      <div class="col-md-6">
        <h6>Telefono/Celular</h6>
        <p>1512344321</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h6>Carrera</h6>
        <p>Tecnicatura Superior en Desarrollo de Software</p>
      </div>
      <div class="col-md-6">
        <h6>Año Actual Cursando</h6>
        <p>3°</p>
      </div>
    </div>
  </div>
</div>